@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


body {
  background-color: #fff; 
  color: #333; 
  font-family: Arial, sans-serif; 
}

.snack-list-title {
  text-decoration: underline;
  font-size: 2.5rem; 
  margin-bottom: 20px; 
  color: #FF6F00; 
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.snacks-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.snack-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  text-align: center;
  transition: transform 0.2s;
  background-color: #FFEA00; 
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.snack-card:hover {
  transform: scale(1.05);
}

.snack-name {
  font-weight: bold;
  font-size: 1.5rem; 
  color: #00B0FF; 
}

.snack-description {
  font-weight: bold;
  color: #D5006D; 
}

.snack-price {
  font-weight: bold;
  color: #dc69f0; 
}
